[submodule "Source/ThirdParty/Catch2"]
	path = Source/ThirdParty/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "Source/ThirdParty/mimalloc"]
	path = Source/ThirdParty/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "Source/ThirdParty/spdlog"]
	path = Source/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Source/ThirdParty/tracy"]
	path = Source/ThirdParty/tracy
	url = https://github.com/wolfpld/tracy
[submodule "Source/ThirdParty/DirectX-Headers"]
	path = Source/ThirdParty/DirectX-Headers
	url = https://github.com/Microsoft/DirectX-Headers
[submodule "Source/ThirdParty/imgui"]
	path = Source/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Source/ThirdParty/entt"]
	path = Source/ThirdParty/entt
	url = https://github.com/skypjack/entt
